
#map {
  height: 700px;
  width: 100%;
}

.searchBox {
  color: white;
}
#search {
  padding-left: 10px;
}
#search:hover{
  font-size: 150%;
}

.pac-item-query:hover  {
  font-size: 150%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding-left: 300px;
}

#twitter{
  padding-top: 125px;
  z-index:5000;
  position:absolute;
}
