#map {
  height: 700px;
  width: 100%;
}

#search {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

#search:hover {
  font-size: 150%;
}

.pac-item-query:hover {
  font-size: 150%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding-left: 300px;
}

/* COLORS */

.orange-txt {
  color: #FF7C30;
}

.drk-organe-txt {
  color: #C5A08B;
}

.lt-blue-bg {
  background-color: #FAFFFF;
}

#twitter {
  padding-top: 125px;
  z-index: 5000;
  position: absolute;
}
