
#map {
  height: 1000px;
  width: 100%;
}

.searchNav {
  position: absolute;
  top: 50px;
  z-index: 2;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 600px) {
  .searchNav {
    position: absolute;
    top: 400px;
    z-index: 2;
}
